
.btn-primary{
	background-color: brown; 
}
.btn-primary:hover{
	background-color: black;
	cursor: pointer;
}
.jumbotron{
	background-color: black;	
}
.display-4{
	font-family: fantasy;
	color: orange;
	text-align:center;
}
.lead{
	font-family: Arial;
	color:purple;
	text-align: center;
}
.btn {
	 font-weight: 700;
	 text-align: right;
	 text-transform: uppercase;
	 border-radius: 300px;
	 font-family: 'Montserrat', sans-serif;
}
.btn-xl {
  padding: 1rem 2rem; 
}
p{
	color: white;
}
li{
	color: white;
}